body {
    margin: auto;
}


/*========= SIDEBAR ==========*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;  
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

#menuBtn {
    cursor: pointer;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

#mainPage {
    transition: margin-left .5s;
    padding: 0px;
}

/*========= SIDEBAR RESPONSIVE ========*/
@media screen and (max-width: 680px) {
    .sidenav {padding-top: 45px;}
    .sidenav {width: 150px;}
    .sidenav a {font-size: 18px;}

}

/*========== NAVBAR ===========*/



/*========== Section 1 =========*/
.section-1 {
    width: 100%;
    margin: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    
}

.row {
    width: 100%;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}

.col-3 {
    text-align: center;
    background-color: #818181;
    float: left;
}
.col-6{
    text-align: center;
    background-color: #818181;
    float: right;
}

/*  .col-1 {width: 8.33%}
    .col-2 {width: 16.66%}
    .col-3 {width: 25%}
    .col-4 {width: 33.33%}
    .col-5 {width: 41.66%}
    .col-6 {width: 50%}
    .col-7 {width: 58.33%}
    .col-8 {width: 66.66%}
    .col-9 {width: 75%}
    .col-10 {width: 83.33%}
    .col-11 {width: 96.66%}
    .col-12 {width: 100%}